{% extends 'base.html.twig.' %}

{% block title %} categories {% endblock %}



{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1> My categories:</h1>
            </div><!col-xs-->
        </div><!--row-->

        <div class="row">
            <div class="widget-content">
                <table class="table table-bordered bg-warning" >
                    <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                    </thead><!--thread-->

                    <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>
                                <a  href="{{ path('show_category_products', { id: category.id}) }}">
                                    {{ category.name }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody><!--tbody-->
                </table>

                <form role="form" method="POST" action="{{ path('get_from') }}">
                    <input type="submit" name="submit" value="Add category" class="btn btn-primary"/>
                </form>
            </div><!--row-->
        </div><!--row-->
    </div> <!--conatiner -->

{% endblock %}
